/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

/* Links */
a,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url("./../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url("./../fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url("./../fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  min-height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: 'Roboto';
  background-color: #fff;
  color: #565656;
  font-size: 18px;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

.visualy-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.footer {
  margin-top: auto;
  /* sticky footer */
}

h1, .h1, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
}

h1, .h1 {
  font-size: 40px;
  color: #008EE3;
}

h2, .h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 18px;
}

.section-title {
  margin-bottom: 40px;
}

.title-line {
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 2px;
  background: #FF8A00;
  border-radius: 2px;
}

.filter {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.header {
  position: relative;
  z-index: 1;
  background-color: #F5FAFE;
  box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.2);
}

.header__top {
  padding: 16px 0;
  border-bottom: 1px solid rgba(86, 86, 86, 0.2);
  color: #333333;
}

.header__top-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header__top-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  max-width: 380px;
}

.header__top-logo-img {
  margin-right: 5px;
  width: 72px;
  height: 72px;
}

.header__top-logo-name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
.header__top-logo-name span {
  color: #008EE3;
}

.header__top-logo-text {
  font-size: 16px;
}

.header__top-contact-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.header__top-contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-right: 40px;
}

.header__top-phone {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  transition: 0.3s;
}
.header__top-phone:hover {
  color: #FF8A00;
}
.header__top-phone::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("./../img/icons/phone.svg");
  background-size: cover;
}

.header__top-button {
  color: #FFFFFF;
}

.button {
  position: relative;
  padding-left: 50px;
  padding-right: 20px;
  height: 48px;
  background: #FF8A00;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  width: 30px;
  height: 30px;
  background-image: url("./../img/icons/whatsapp.svg");
}
.button:hover {
  background: #ffa53e;
  box-shadow: 0px 0px 10px #b9b9b9;
}

.button--mob {
  display: none;
}

.nav {
  position: relative;
  padding: 5px 0;
}

.nav__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.nav__item {
  padding: 0 30px;
}

.nav__item:not(:last-child) {
  border-right: 1px solid rgba(86, 86, 86, 0.2);
}

.nav__link {
  padding: 5px 0;
  font-size: 16px;
  transition: 0.3s;
}
.nav__link.nav__link--active {
  color: #FF8A00;
  cursor: default;
  pointer-events: none;
}
.nav__link:hover {
  color: #ffa53e;
}

.intro {
  position: relative;
  padding: 50px 0;
  min-height: 340px;
  background-image: url("./../img/intro-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .container {
  position: relative;
  z-index: 1;
}

.intro__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.intro__content {
  max-width: 800px;
}
.intro__content .h1 {
  margin-bottom: 50px;
}

.intro__list {
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.intro__list-col > * + * {
  margin-top: 20px;
}

.intro__list-item {
  padding-left: 40px;
  min-height: 24px;
  background-position: left;
  background-size: 30px;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 24px;
}
.intro__list-item--magnet {
  background-image: url(./../img/icons/magnet.svg);
}
.intro__list-item--feather {
  background-image: url(./../img/icons/feather.svg);
}
.intro__list-item--crane {
  background-image: url(./../img/icons/crane.svg);
}
.intro__list-item--drop {
  background-image: url(./../img/icons/drop.svg);
}

.intro__waranty {
  max-width: 200px;
  text-align: center;
}

.intro__waranty-img {
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.intro__waranty-text {
  font-weight: 700;
  font-size: 18px;
  color: #008EE3;
}

.about {
  padding: 50px 0 45px;
}
.about .section-title {
  margin-bottom: 20px;
}

.about__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.about__foto {
  flex-shrink: 0;
  width: 365px;
  height: 365px;
  border: 4px solid #008EE3;
  border-radius: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5%;
     object-position: 5%;
}

.about__foto--index {
  -o-object-position: center;
     object-position: center;
}

.about__content {
  max-width: 700px;
}

.about__content-text {
  line-height: 1.5;
}
.about__content-text p + p {
  margin-top: 10px;
}

.services {
  padding-top: 45px;
  padding-bottom: 90px;
}

.services__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  width: 260px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15);
  border-radius: 5px;
  text-align: center;
}
.service-card .button {
  color: #FFFFFF;
}
.service-card .button:hover {
  color: #FFFFFF;
}

.service-card:hover .service-card__back {
  opacity: 1;
}

.service-card__content {
  position: relative;
  margin-bottom: 20px;
}
.service-card__content img {
  margin: 0 auto;
  width: 80px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.service-card__title {
  margin: 10px 0 20px;
  font-size: 18px;
  color: #008EE3;
}

.service-card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.service-card__back .service-card__title {
  margin: 0 0 10px;
  font-size: 18px;
}

.service-card__back-text {
  font-size: 14px;
}

.sale {
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  -webkit-box-pack: justify;
          justify-content: space-between;
  gap: 30px 10px;
}

.sale-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  padding: 20px 20px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15);
  border-radius: 5px;
  text-align: center;
}

.sale-card__title {
  margin-bottom: auto;
  min-height: 94px;
  font-weight: 500;
  font-size: 18px;
  color: #025484;
}

.sale-card__content {
  margin: 10px 0 20px;
  width: 100%;
}

.sale-card__price {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #008EE3;
  font-weight: 500;
  color: #fff;
}

.sale-card__img {
  margin: 0 auto;
  height: 200px;
}

.sale-card__btns {
  margin-top: auto;
  display: -webkit-box;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
}
.sale-card__btns .button {
  display: block;
  height: 40px;
  line-height: 42px;
}

.sale-card__more.button {
  padding-left: 20px;
  background-color: #565656;
}
.sale-card__more.button::before {
  content: none;
}

.sale-card__more:hover {
  background-color: #7a7a7a;
}

.benefits {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("./../img/benefits-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.benefits .container {
  position: relative;
  z-index: 1;
}

.benefits__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
}

.benefit-card {
  width: 270px;
  text-align: center;
}
.benefit-card img {
  margin: 0 auto 20px;
  width: 97px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.benefit-card {
  width: 210px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  flex-shrink: 0;
}

.benefit-card__icon {
  margin-bottom: 20px;
  height: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.benefit-card__text {
  text-align: center;
}

.section-swiper {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 479px) {
  .section-swiper .container {
    max-width: 320px;
  }
}
@media (max-width: 767px) {
  .section-swiper .image-slider.swiper {
    width: 480px;
    padding: 0 15px;
  }
  .section-swiper .swiper-button-next, .section-swiper .swiper-rtl .swiper-button-prev {
    right: 15px;
  }
  .section-swiper .swiper-button-prev, .section-swiper .swiper-rtl .swiper-button-next {
    left: 15px;
  }
}
@media (max-width: 479px) {
  .section-swiper .image-slider.swiper {
    width: 100%;
    padding: 0;
  }
}

.section-swiper__wrapper {
  max-width: 1170px;
}

.image-slider__img {
  width: 210px;
  text-align: center;
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .image-slider__img {
    width: 226px;
  }
}
@media (max-width: 1023px) {
  .image-slider__img {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .image-slider__img {
    width: 226px;
  }
}
@media (max-width: 767px) {
  .image-slider__img {
    width: 210px;
  }
}
@media (max-width: 479px) {
  .image-slider__img {
    width: 290px;
  }
}

.image-slider .swiper-wrapper {
  height: 335px;
}
@media (max-width: 1199px) {
  .image-slider .swiper-wrapper {
    height: 350px;
  }
}
@media (max-width: 1023px) {
  .image-slider .swiper-wrapper {
    height: 420px;
  }
}
@media (max-width: 899px) {
  .image-slider .swiper-wrapper {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .image-slider .swiper-wrapper {
    height: 335px;
  }
}
@media (max-width: 479px) {
  .image-slider .swiper-wrapper {
    height: 410px;
  }
}

.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
  top: 40%;
}
@media (max-width: 479px) {
  .image-slider .swiper-button-prev,
  .image-slider .swiper-button-next {
    top: 50%;
  }
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #fff;
}

@media (max-width: 767px) {
  .image-slider .swiper-pagination {
    display: none;
  }
}

.image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: #025484;
}

@media (max-width: 767px) {
  .section-swiper .inner-slider.swiper {
    width: 480px;
    padding: 0 15px;
  }
  .section-swiper .swiper-button-next, .section-swiper .swiper-rtl .swiper-button-prev {
    right: 15px;
  }
  .section-swiper .swiper-button-prev, .section-swiper .swiper-rtl .swiper-button-next {
    left: 15px;
  }
}
@media (max-width: 479px) {
  .section-swiper .inner-slider.swiper {
    width: 100%;
    padding: 0;
  }
}

.section-swiper__wrapper {
  max-width: 1170px;
}

.inner-slider__img {
  width: 225px;
  text-align: center;
  border-radius: 4px;
}
@media (max-width: 1023px) {
  .inner-slider__img {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .inner-slider__img {
    width: 225px;
  }
}
@media (max-width: 479px) {
  .inner-slider__img {
    width: 290px;
  }
}

.inner-slider .swiper-wrapper {
  height: 330px;
}
@media (max-width: 1023px) {
  .inner-slider .swiper-wrapper {
    height: 390px;
  }
}
@media (max-width: 899px) {
  .inner-slider .swiper-wrapper {
    height: 330px;
  }
}
@media (max-width: 479px) {
  .inner-slider .swiper-wrapper {
    height: 410px;
  }
}

.inner-slider .swiper-button-prev,
.inner-slider .swiper-button-next {
  top: 40%;
}
@media (max-width: 479px) {
  .inner-slider .swiper-button-prev,
  .inner-slider .swiper-button-next {
    top: 50%;
  }
}

.inner-slider .swiper-button-prev::after,
.inner-slider .swiper-button-next::after {
  color: #fff;
}

@media (max-width: 767px) {
  .inner-slider .swiper-pagination {
    display: none;
  }
}

.inner-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: #025484;
}

.description {
  padding: 60px 0 0;
}

.description__subtitle {
  margin-bottom: 20px;
}

.description__price {
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #FF8A00;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.description__scheme {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.description__scheme-img {
  margin: 0 auto 20px;
  height: 335px;
}

.description__list-wrapper {
  margin-bottom: 40px;
}

.description__list-text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.description__list > * + * {
  margin-top: 10px;
}

.description__list-item {
  padding-left: 30px;
  background-image: url(./../img/icons/check.svg);
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
}

.page-list {
  list-style-type: none;
  counter-reset: num;
}
.page-list > * + * {
  margin-top: 40px;
}

.page-list__item {
  position: relative;
  padding-left: 58px;
}

.page-list__item:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #FF8A00;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.page-list__item-title {
  display: block;
  margin-bottom: 30px;
  font-weight: 500;
  color: #333333;
}

.page-grid {
  display: grid;
  gap: 20px;
}

.page-grid--2 {
  grid-template-columns: repeat(auto-fill, 49%);
}

.page-grid--4 {
  grid-template-columns: repeat(auto-fill, 23.5%);
}

.page-grid--5 {
  grid-template-columns: repeat(auto-fill, 18.5%);
}

.page-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}
.page-card > * + * {
  margin-top: 10px;
}

.page-card__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #025484;
}

.page-card__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page-card__img:not(:last-child) {
  margin-bottom: 10px;
}

.page-card__img:last-child {
  margin-top: auto;
}

.page-card__img--90 {
  height: 90px;
}

.page-card__img--120 {
  height: 120px;
}

.page-card__img--130 {
  height: 130px;
}

.page-card__img--200 {
  height: 200px;
}

.page-card__subtext {
  font-size: 14px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #025484;
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.footer__copyright p + p {
  margin-top: 10px;
}

.footer__button {
  color: #fff;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1024px;
  }

  h1,
  .h1 {
    font-size: 1.5em;
  }

  h2,
  .h2 {
    font-size: 20px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }

  .intro {
    min-height: unset;
  }

  .intro__content .h1 {
    margin-bottom: 30px;
  }

  .intro__list-item {
    padding-left: 36px;
    background-size: 26px;
  }

  .intro__list-item {
    font-size: 20px;
  }

  .about {
    padding: 50px 0 30px;
  }

  .about__foto {
    width: 320px;
    height: 320px;
  }

  .about__content {
    max-width: 600px;
  }

  .about__content-text {
    font-size: 16px;
  }

  .services {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .service-card {
    width: 230px;
    padding: 30px 20px;
  }

  .section-swiper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 900px;
  }

  h3,
  .h3 {
    font-size: 0.9em;
  }

  .header__top-logo-img {
    width: 66px;
    height: 66px;
  }

  .header__top-logo-text {
    font-size: 14px;
  }

  .header__top-logo-name,
  .header__top-time {
    font-size: 16px;
  }

  .header__top-phone {
    font-size: 18px;
  }

  .header__top-contacts {
    margin-right: 20px;
  }

  .button {
    font-size: 12px;
  }

  .intro {
    padding: 40px 0;
  }

  .intro__list-item {
    font-size: 1em;
  }

  .intro__list-col > * + * {
    margin-top: 10px;
  }

  .intro__list-item {
    padding-left: 34px;
    background-size: 24px;
  }

  .intro__waranty-text {
    font-size: 0.9em;
  }

  .intro__waranty-img {
    width: 80px;
    height: 80px;
  }

  .about__foto {
    width: 290px;
    height: 290px;
  }

  .about__content {
    max-width: 60%;
  }

  .services__wrapper {
    -webkit-box-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .service-card {
    width: 35%;
    padding: 30px 30px;
  }

  .benefit-card img {
    margin: 0 auto 10px;
    width: 80px;
    height: 65px;
  }

  .benefits {
    padding: 40px 0;
  }

  .benefit-card {
    width: 180px;
  }
}
@media (max-width: 899px) {
  .container {
    max-width: 768px;
  }

  .header__top-row {
    flex-wrap: wrap;
  }

  .header__top-logo {
    margin: 0 auto;
    max-width: 100%;
  }

  .header__top-logo-name,
  .header__top-time {
    font-size: 14px;
  }

  .header__top-logo-img {
    width: 40px;
    height: 40px;
  }

  .header__top-phone {
    font-size: 16px;
  }

  .header__top-contact-wrap {
    margin: 20px 0 0;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .header__top-contacts {
    -webkit-box-align: start;
            align-items: flex-start;
  }

  .intro__row {
    -webkit-box-align: end;
            align-items: flex-end;
  }

  .intro__list {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .intro__list-col {
    width: 100%;
  }

  .intro__list-item {
    font-size: 0.9em;
  }

  .about__foto {
    align-self: self-start;
    width: 250px;
    height: 250px;
  }

  .about__content {
    max-width: 60%;
  }

  .service-card {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .about__row {
    flex-wrap: wrap;
  }

  .about__foto {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }

  .about__content {
    max-width: 100%;
  }

  .service-card {
    width: 45%;
  }

  .benefits__row {
    -webkit-box-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .benefit-card {
    width: 40%;
    margin: 15px;
  }

  .section-swiper {
    padding-bottom: 20px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
            align-items: center;
  }

  .footer__copyright {
    text-align: center;
  }

  .footer__button {
    margin-bottom: 20px;
  }
}
@media (max-width: 567px) {
  h1,
  .h1 {
    font-size: 1.45em;
  }

  .intro__row {
    flex-wrap: wrap;
  }

  .intro__content .h1 {
    margin-bottom: 20px;
  }

  .intro__waranty {
    margin-top: 20px;
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    text-align: left;
  }

  .intro__waranty-img {
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
  }

  .service-card {
    padding: 30px 20px;
  }
}
@media (max-width: 479px) {
  .section-swiper .swiper {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 428px) {
  .header__top-logo-name, .header__top-time {
    font-size: 12px;
  }

  .benefit-card {
    width: 100%;
  }

  .button--desk {
    display: none;
  }

  .button--mob {
    display: block;
  }

  .service-card {
    width: 75%;
  }
}
@media (max-width: 389px) {
  .service-card {
    width: 100%;
  }

  .button.button--mob {
    height: 40px;
    padding-left: 35px;
    padding-right: 10px;
    line-height: 40px;
  }

  .header__top-button .button::before {
    width: 24px;
    height: 24px;
    left: 10px;
  }
}
@media (max-width: 379px) {
  h1,
  .h1 {
    font-size: 1.4em;
  }
}
@media (max-width: 339px) {
  .header__top-phone {
    padding-left: 0;
  }

  .header__top-phone::before {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */