html {
    min-height: 100vh;
	scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	font-family: 'Roboto';
    background-color: $body-color;
    color: $base-color;
    font-size: 18px;
    line-height: 1.3;

    text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0;
}
.container {
	max-width: 1200px;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.none {
	display: none !important;
}
.visualy-hidden {
    position: fixed;
    transform: scale(0);
}

.footer {
	margin-top: auto; /* sticky footer */
}

h1, .h1, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
}
h1, .h1 {
    font-size: 40px;
    color: $title-color;
}
h2, .h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
}
h3, .h3 {
    font-size: 20px;
}
h4, .h4 {
    font-size: 18px;
}
.section-title {
    margin-bottom: 40px;
}
.title-line {
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 2px;
    background: #FF8A00;
    border-radius: 2px;
}
.filter {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}