.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #025484;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;

    & p + p {
        margin-top: 10px;
    }
}

a.footer__button {
    color: #fff;
}
.social-wrap {
    color: #fff;
    text-align: center;
}
.social {
    display: block;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}
.social--avito {
    width: 100px;
    background-image: url(./../img/icons/avito.svg);
}