.nav {
  position: relative;
  background-color: $bg-color;
}
.nav__list {
  display: flex;
  justify-content: center;
}
.nav__item {
  padding: 5px 10px;
  flex-basis: 50%;
  text-align: center;
  border-right: 1px solid $body-color;
  border-left: 1px solid $body-color;
  &.nav__item--active {
    background-color: #0080CB;
  }
}
.nav__item:not(:last-child) {
  border-right: none;
}
a.nav__link {
  color: $body-color;
}
.nav__link {
  padding: 5px 20px;
  font-size: 16px;
  transition: 0.3s;
  &.nav__link--active {
    font-weight: 700;
    color: $accent-color;
    cursor: default;
    pointer-events: none;
  }
  &:hover {
    color: $accent-color-hover;
  }
}