.nav {
  position: relative;
  padding: 5px 0;
  background-color: $bg-color;
}
.nav__list {
  display: flex;
  justify-content: center;
}
.nav__item {
  padding: 0 30px;
  flex-basis: 50%;
}
.nav__item:not(:last-child) {
  border-right: 1px solid $body-color;
}
a.nav__link {
  color: $body-color;
}
.nav__link {
  padding: 5px 0;
  font-size: 16px;
  transition: 0.3s;

  &.nav__link--active {
    color: $accent-color;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $accent-color-hover;
  }
}