.services{
    padding-top: 45px;
    padding-bottom: 90px;
}
.services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-card {
    width: 260px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15);
    border-radius: 5px;
    text-align: center;
    .button {
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
}
.service-card:hover .service-card__back {
    opacity: 1;
}
.service-card__content {
    position: relative;
    margin-bottom: 20px;
    img {
        margin: 0 auto;
        width: 80px;
        height: auto;
        object-fit: contain;
        object-position: center;
    }
}
.service-card__title {
    margin: 10px 0 20px;
    font-size: 18px;
    color: $title-color;
}
.service-card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    scrollbar-width: thin;
    scrollbar-color: $title-color #dfdfdf;

    .service-card__title {
        margin: 0 0 10px;
        font-size: 18px;
    }
  
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #dfdfdf;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $title-color;
        border-radius: 5px;
        border: 1px solid #dfdfdf;
    }
}
.service-card__back-text {
    font-size: 14px;
}